
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    gap: 10px;
    display: flex;
    
}

.exerciseMainContent {
    width: 70%;
}

.exerciseMainAside {
    width:30%;
}