body{
    width: 900px;
    margin: 0 auto;

}

table{
    border: solid 3px black;
}
td{
    
    background-color: #eeeeee;
}
th{
    color: white;
    background-color: black;
}
.xia-image{
    float: right;
}
a{
    text-decoration: none;
}
ol{
    list-style-type: none;
}